:root {
	--background: rgb(229, 233, 240);
	--foreground: rgb(46, 52, 64);
	--protrusion: rgb(229, 233, 240);
	--menu: rgb(216, 222, 233);
	--green: rgb(153, 179, 132);
	--3d-border: rgba(255, 255, 255, .3);
	--lightshadow: rgba(255, 255, 255, .9);
	--lightershadow: rgba(255, 255, 255, .5);
	--darkshadow: rgba(76, 86, 106, .3);
	--red: rgb(191, 97, 106);
}

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	color: var(--foreground);
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: var(--foreground);
}

/*************************** layout ******************************/
body {
	margin: 1em;
	font-size: 16px;
	height: 100vh;
	color: var(--foreground);
	background: var(--background);
	background-attachment: fixed;
	-webkit-user-select: none;
	user-select: none;
}

header {
	margin: 1em auto;
	width: 70%;
	text-align: center;
}

main {
	margin: 0 auto;
	width: 100%;
	max-width: 50em;
}

/*************************** article elements******************************/
input,
a,
textarea,
select,
input[type=file]+label,
canvas,
video {
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 100%;
	outline: none;
	display: inline-block;
	font-size: 1em;
}

video {
	height: 0;
	transition: ease .3s;
}

canvas,
video.active {
	height: 13em;
}

#qrcodecanvas{
	width:5em;
	height:5em;
}

ul {
	margin: 0;
	padding-left: 1em
}

article,
main>form>article,
[data-type=addButton] {
	margin: 1em 0;
	padding: 1em;
	width: 100%;
	display: inline-block;
	border: 1px solid var(--3d-border);
	border-radius: 2em;
	background-color: var(--protrusion);
	box-shadow:
		-2px -2px 6px var(--lightshadow),
		3px 3px 6px var(--darkshadow);
	transition: ease .2s;
}

article[data-type],
[data-type=addButton] {
	padding: 1em 2em 1em 3.5em;
}

article>header {
	width: 100%;
	padding: 0;
	text-align: left;
	display: inline-block;
	margin: 0;
	margin-bottom: 1em
}

section>form,
section>article,
section>div[draggable] {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	scroll-snap-align: center;
	flex: none;
	overflow: auto;
	box-shadow: none;
	border: none;
	background: none;
}

form>article,
section>div>article {
	box-shadow: none;
	border: none;
	background: none;
}

.expanded {
	white-space: unset;
	overflow: auto;
}

.inset,
[data-type=trash] {
	box-shadow: inset 3px 3px 5px var(--darkshadow);
}

section {
	border: 1px solid var(--3d-border);
	border-radius: 1.5em;
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow: scroll;
	margin: -.5em;
}

.sectionindicator {
	text-align: center;
	width: 100%;
	margin-top: 1em
}

/*************************** general elements ******************************/
svg {
	fill: var(--foreground)
}

h1 {
	color: var(--foreground)
}

input[type=file] {
	display: none;
}

a,
a:active,
a:visited {
	color: inherit
}

textarea {
	text-align: left;
}

input[type=number] {
	appearance: textfield
}

.input-field {
	background: transparent;
	z-index: 1;
}

.input-label {
	position: relative;
	outline: none;
	top: -1.45rem;
	pointer-events: none;
	transition: .3s;
	font-size: medium;
	opacity: .5;
	margin: 0;
	padding: 0;
}

.input-field:not(:placeholder-shown)+.input-label,
.input-field:focus+.input-label {
	top: -2.75rem;
	font-size: x-small;
}

.photoupload {
	margin-top: -4em;
	float: right;
	height: 4em;
	width: 4em;
	border-radius: 50%;
	object-fit: cover;
}

/*************************** menu ******************************/

body>label {
	position: fixed;
	z-index: 99;
	top: 1em;
	left: 1em;
	border-radius: 50%;
	border: 1px solid var(--lightershadow);
	backdrop-filter: blur(10px);
	box-shadow: 2px 2px 10px var(--darkshadow);
}

body>label::before {
	content: "";
	display: block;
	height: 1.5em;
	width: 1.5em;
	background-size: cover;
	margin: 1em;
	background-image: url("media/bars.svg");
}

body>input {
	display: none;
}

nav {
	position: fixed;
	z-index: 99;
	margin-top: 4em;
	width: 0;
	height: 0;
	border: none;
	border-radius: 1em;
	backdrop-filter: blur(10px);
	transition: ease .3s;
	overflow: hidden;
}

input:checked~nav {
	border: 1px solid var(--lightershadow);
	padding: 1em;
	width: calc(100% - 2em);
	height: calc(100% - 6em);
	overflow: auto;
	box-shadow: 2px 2px 10px var(--darkshadow);
}


/*************************** decorators ******************************/

.alert {
	border: 1px solid var(--red);
}

hr {
	margin: 1em auto;
	height: 1em;
	width: 100%;
	border-color: var(--foreground);
	border-radius: .5em;
}

section>div>hr {
	width: 95%
}

.hrhover {
	background-color: var(--green);
}

input[type=text],
input[type=number],
input[type=search],
input[type=password] {
	border-bottom: 1px solid var(--foreground);
}

.check {
	display: inline-block;
	position: relative;
	min-width: 10em;
	padding-left: 1em;
	margin: 0 1em 1em 0;
}

.check input {
	appearance: none;
	width: auto;
}

.check input::before {
	position: absolute;
	content: '';
	top: -12.5%;
	left: -5%;
	display: block;
	width: 1.5em;
	height: 1.5em;
	color: var(--background);
	border: 1px solid var(--foreground);
	border-radius: 50%;
	transition: ease .2s;
	text-align: center;
}

.check input:checked::before {
	background-color: var(--green);
	content: '✔';
	box-shadow: 0 0 5px 1px var(--green);
}

.articleindicator {
	stroke: var(--foreground);
	stroke-width: 1px;
	fill: none;
	width: 10px;
	height: 10px;
}

.articleactive {
	fill: var(--foreground);
}

button {
	margin: 1em 0;
	padding: 1em;
	width: 100%;
	display: block;
	border: 1px solid var(--darkshadow);
	border-radius: 2em;
	background-color: var(--protrusion);
	transition: ease .15s;
}

.reset,
.add,
.delete {
	width: fit-content;
	padding-left: 4em;
	margin-bottom: 0;
	float: right;
	margin-left: 1em;
}

button:active {
	box-shadow: inset 2px 2px 3px var(--darkshadow),
		inset -2px -2px 3px var(--lightshadow);
}

[data-type=addButton] {
	margin: 1em 0 0 0;
}

[data-type=addButton]:active {
	box-shadow:
		-1px -1px 2px var(--lightshadow),
		0px 0px 2px var(--darkshadow);
}

/*************************** decorators ******************************/

.reset::before,
.add::before,
.delete::before,
[data-type]::before,
[data-menu]~label::before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: top;
	background-size: cover;
	margin: .25em 1em 0 -2em;
}

[draggable=true]:active {
	cursor: move;
}

[data-type=text]::before {
	background-image: url("media/book-reader.svg");
}

[data-type=textinput]::before {
	background-image: url("media/pencil.svg");
}

[data-type=searchinput]::before {
	background-image: url("media/search.svg");
}

[data-type=numberinput]::before {
	background-image: url("media/hashtag.svg");
}

[data-type=dateinput]::before {
	background-image: url("media/calendar-alt.svg");
}

[data-type=file]::before {
	background-image: url("media/upload.svg");
}

[data-type=photo]::before {
	background-image: url("media/camera.svg");
}

[data-type=select]::before {
	background-image: url("media/list.svg");
}

[data-type=textarea]::before {
	background-image: url("media/pencil.svg");
}

[data-type=checkbox]::before {
	background-image: url("media/check-double.svg");
}

[data-type=radio]::before {
	background-image: url("media/check.svg");
}

[data-type=links]::before {
	background-image: url("media/link.svg");
}

[data-type=signature]::before {
	background-image: url("media/signature.svg");
}

[data-type=qrscanner]::before,
[data-type=qrcode]::before {
	background-image: url("media/qrcode.svg");
}

.delete:before,
[data-type=trash]::before {
	background-image: url("media/trash-alt.svg");
}

[data-type=hiddeninput]::before {
	background-image: url("media/user-secret.svg");
}

.add::before,
[data-type=additem]::before {
	background-image: url("media/plus-circle.svg");
}

[data-type=addblock]::before {
	background-image: url("media/arrow-alt-from-top.svg");
}

.reset::before,
[data-type=generateupdate]::before {
	background-image: url("media/repeat-alt.svg");
}

[data-type=save]::before {
	background-image: url("media/save.svg");
}