:root {
	--background: #d8dee9;
	--foreground: rgb(46, 52, 64);
	--lighterforeground: rgb(92, 97, 109);
	--article: rgb(236, 239, 244);
	--3d-border: rgba(255, 255, 255, 0.3);
	--lightshadow: rgba(255, 255, 255, 0.9);
	--lightershadow: rgba(255, 255, 255, 0.5);
	--darkshadow: rgba(76, 86, 106, 0.3);
	--frostgreen: rgb(143, 188, 187);
	--red: rgb(191, 97, 106);
	--orange: rgb(208, 135, 112);
	--yellow: rgb(235, 203, 139);
	--green: rgb(153, 179, 132);
	--purple: rgb(180, 142, 173);
	--cta: rgb(136, 192, 208);
	--evenDiscreetButton: rgba(136, 192, 208, 0.2);
	--cta_darker: rgb(80, 155, 176);
	--cta_active: rgb(161, 227, 246);
	--shadow: 2px 2px 6px rgba(76, 86, 106, 0.3);
}

* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	color: var(--foreground);
}

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.3em;
	height: 0.3em;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
	background: var(--foreground);
	border-radius: 0.125em;
	width: 0.15em;
	height: 0.15em;
}

/*************************** layout ******************************/
body {
	margin: 1em;
	font-size: 16px;
	color: var(--foreground);
	background: var(--background);
	background-attachment: fixed;
	-webkit-user-select: none;
	user-select: none;
}

body::before {
	background: url("./media/favicon/logo.svg");
	/*1086x570*/
	background-size: 100%;
	background-repeat: no-repeat;
	transform: rotate(-90deg) translate(-25vh, -21vh);
	content: "";
	position: fixed;
	z-index: -1;
	height: calc(80vh * 570 / 1086);
	width: 80vh;
	left: 0;
	top: 10vh;
	opacity: 0.1;
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	body {
		font-size: 13px;
	}
}

header {
	margin: 0.75em auto;
	width: 100%;
	clear: both;
}

body > header {
	margin: 0;
	max-width: none;
	height: 4.4em;
	position: fixed;
	top: 0;
	left: 0;
	backdrop-filter: blur(10px);
	text-align: center;
	z-index: 98;
	box-shadow: var(--shadow);

	& > h1 {
		font-size: 1.5em;
	}

	& > div {
		left: 0;
		height: 0.4em;
		position: fixed;
		background: var(--yellow);
	}
}

main {
	margin: 5em auto 0;
	width: 100%;
	max-width: 50em;
	margin-bottom: 6em;
}

dialog {
	position: fixed;
	display: block;
	border-radius: 1em;
	border: 1px solid var(--lightershadow) !important;
	backdrop-filter: blur(10px);
	background-color: var(--article);
	box-shadow: var(--shadow);
	color: var(--foreground);
	opacity: 0;
	transition: ease 0.3s;
	pointer-events: none;
	overflow: hidden;
	width: 30em;

	&#toast {
		bottom: 6em;

		span {
			display: block;
			margin-bottom: 1em;
		}

		div {
			left: 0;
			height: 0.2em;
			position: fixed;
			background: var(--yellow);
		}
	}

	.confirmButton {
		width: auto;
		margin-left: 1em;
		float: right;
		flex: none;
	}

	img.close {
		width: 1.5em;
		height: 1.5em;
		float: right;
		margin: 0.5em;
	}

	img.pause {
		width: 1.5em;
		height: 1.5em;
		float: right;
		margin: 0.5em;
		transform: rotate(90deg);
	}

	form {
		/*display: flex; added dynamically according to content*/
		flex-flow: column;
		max-height: 75vh;

		img.close {
			width: 1.5em;
			height: 1.5em;
			position: absolute;
			top: 1em;
			right: 1em;
		}

		header {
			flex: 0 0 auto;
			display: inline-block;
		}

		div {
			flex: 1 1 auto;
			overflow: hidden scroll;
		}

		article {
			margin: 0;
			padding: 0;
		}
	}
}

dialog[open] {
	opacity: 1;
	pointer-events: all;
}

.loader {
	display: none;
	opacity: 0;
	transition: ease 0.3s;
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	z-index: 9999;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid #5e81ac;
	animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
	0% {
		clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
	}

	12.5% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 0%,
			100% 0%,
			100% 0%
		);
	}

	25% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 100%,
			100% 100%,
			100% 100%
		);
	}

	50% {
		clip-path: polygon(
			50% 50%,
			0 0,
			50% 0%,
			100% 0%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}

	62.5% {
		clip-path: polygon(
			50% 50%,
			100% 0,
			100% 0%,
			100% 0%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}

	75% {
		clip-path: polygon(
			50% 50%,
			100% 100%,
			100% 100%,
			100% 100%,
			100% 100%,
			50% 100%,
			0% 100%
		);
	}

	100% {
		clip-path: polygon(
			50% 50%,
			50% 100%,
			50% 100%,
			50% 100%,
			50% 100%,
			50% 100%,
			0% 100%
		);
	}
}

@keyframes l20-2 {
	0% {
		transform: scaleY(1) rotate(0deg);
	}

	49.99% {
		transform: scaleY(1) rotate(135deg);
	}

	50% {
		transform: scaleY(-1) rotate(0deg);
	}

	100% {
		transform: scaleY(-1) rotate(-135deg);
	}
}

/*************************** menu ******************************/

nav {
	position: fixed;
	z-index: 98;
	box-shadow: var(--shadow);
	backdrop-filter: blur(10px);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4em;
	padding: 0.75em;
	vertical-align: top;
	text-align: center;

	div[data-notification]::after {
		content: attr(data-notification);
		color: var(--article);
		position: absolute;
		margin-top: -3.5em;
		margin-left: 1.25em;
		font-size: 0.75em;
		background-color: var(--red);
		padding: 0 0.25em;
		border-radius: 3px;
	}

	div[data-notification="0"]::after {
		display: none;
	}

	div[data-for] {
		display: inline-block;
		margin: 0 0.75em;
		width: fit-content;
		height: fit-content;

		label {
			display: block;
			background-color: var(--cta_darker);
			cursor: pointer;
			width: 2.5em;
			height: 2.5em;
			padding: 0.2em;
		}
	}

	input {
		appearance: none;
		width: auto;
	}

	div[data-for]:first-of-type > label {
		border-radius: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	div.options {
		background-color: var(--lightshadow);
		backdrop-filter: blur(10px);
		z-index: 100;
		position: fixed;
		bottom: 4em;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 44em;
		padding: 0 1em;
		border: none;
		border-radius: 0.2em;
		overflow: hidden;
		height: 0;
		transition: 0.3s ease;

		span {
			font-size: 1.15em;
			font-weight: bold;
		}
	}

	input:checked + div.options {
		padding: 1em 1em;
		height: 50em;
		box-shadow: var(--shadow);
	}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	nav {
		font-size: 1.125em;
	}
}

/*************************** input elements and call to action *******************************/
input,
textarea,
select,
canvas,
.scanner {
	text-decoration: none;
	border: none;
	width: calc(100% - 2em);
	outline: none;
	display: inline-block;
	font-size: 1em;
	text-align: left;
	background: transparent;
	z-index: 1;
}

.scanner * {
	overflow: hidden;
}

input[type="file"] {
	/* avoid non focusable error*/
	width: 0;
	height: 0;
}

a,
a:active,
a:visited {
	color: var(--cta_darker);
	text-decoration: none;
	outline: none;
	display: block;
}

a[data-filtered] {
	line-height: 3em;
}

input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
select {
	border: 1px solid var(--foreground);
	border-radius: 0.2em;
	padding: 0.75em;
}

input[type="number"] {
	appearance: textfield;
}

input[type="radio"],
input[type="checkbox"] {
	appearance: none;
	display: initial;
}

.radio,
.checkbox {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em 1em;
	border-radius: 2em;
	background-color: var(--article);
	width: fit-content;
	border: 1px solid var(--darkshadow);
	vertical-align: middle;
}

.checkbox {
	padding-left: 1.5em;
}

.checkbox::before {
	content: "\2713";
	font-weight: bold;
	position: relative;
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	top: 0;
	left: -0.75em;
	padding: 0.1em 0.6em 0.9em 0.4em;
	border: 1px solid var(--darkshadow);
	border-radius: 50%;
	color: transparent;
}

input:checked + .checkbox,
input:checked + .checkbox::before {
	background-color: var(--green);
	color: var(--article);
	border-color: var(--article);
}

input:checked + .radio {
	padding: calc(0.5em - 3px) calc(1em - 3px);
	border: 4px solid var(--green);
}

.input-label {
	position: relative;
	top: -2.15em;
	pointer-events: none;
	transition: 0.3s;
	opacity: 0.5;
	margin: 0 0 0 2.8em;
}

input:not(:placeholder-shown) + .input-label,
input:focus + .input-label,
select + label.input-label {
	position: relative;
	pointer-events: none;
	font-size: 0.75em;
	top: -5em;
	margin: 0 0 0 3.7em;
	padding: 0 0.5em;
	opacity: 1;
	background-color: var(--article);
}

.textarea-label {
	position: relative;
	pointer-events: all;
	font-size: 0.75em;
	top: -1.25em;
	margin: 0 0 0 1.7em;
	padding: 0 0.25em;
	opacity: 1;
	background-color: var(--article);

	& + textarea {
		margin-left: 1.75em;
		margin-top: -1.5em;
	}
}

button {
	margin: 1em 0;
	padding: 1em;
	width: 100%;
	display: block;
	border: none;
	border-radius: 2em;
	background-color: var(--cta);
	transition: ease 0.15s;
	color: var(--article);
	font-weight: bold;
	font-size: 1.15em;
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	button {
		font-size: 0.9em;
	}
}

.discreetButton {
	/**
	within modal and menu
	*/
	font-size: 1.15em;
	width: 100%;
	border: none;
	background: transparent;
	color: var(--foreground);
	font-weight: initial;
	border-radius: 0;
	margin: 0.175em;
}

.discreetButton:nth-of-type(even) {
	background-color: var(--evenDiscreetButton);
}

article > button {
	margin-left: 1.75em;
	width: calc(100% - 2em);
}

main > form > button {
	box-shadow: var(--shadow);
}

button:disabled {
	color: var(--red);
}

input:disabled,
input:read-only {
	color: var(--lighterforeground);
	cursor: copy;
}

.inlinebutton {
	width: fit-content;
	display: inline-block;
	margin-bottom: 0;
	margin: 0 1em;
	padding-left: 2em;
}

[data-type="deletebutton"],
.reducedCTA {
	width: auto;
	float: right;
	color: var(--foreground);
	background-color: var(--article);
	border: 1px solid var(--cta);
}

button:active {
	background-color: var(--cta_active);
}

#signaturecanvas {
	border-bottom: 1px solid var(--foreground);
}

input:invalid.input_required_alert,
input:invalid+button.input_required_alert,
input:invalid+label.input_required_alert,
#signaturecanvas.input_required_alert {
	border: 2px solid var(--red) !important;
}

[data-type="toleft"],
[data-type="toright"] {
	display: none;
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
	[data-type="toleft"],
	[data-type="toright"] {
		display: inline-block;
	}
}

/*************************** article elements and boxes ******************************/

article > header {
	margin: 0.75em auto;
	width: auto;
	text-align: left;
	display: block;
}

article > span[data-type] {
	padding: 0;
	width: 0;
}

/* hint messages below */
.hint {
	margin: -1em 0 0 2.3em;
	font-size: 0.75em;
	clear: both;
}

.textarea-hint,
.links-hint,
button + .hint {
	margin-top: 1em;
}

button + div,
input[type="checkbox"] + label + div,
input[type="radio"] + label + div {
	margin: 1em 0 0 2.3em;
	font-size: 0.75em;
}

canvas {
	display: block;
	height: 15em;
	margin-bottom: 2em;
}

.stlviewer {
	height: 45em;
	margin-bottom: 2em;
}

article,
main > form > article {
	margin: 1em 0;
	padding: 1em;
	width: 100%;
	display: inline-block;
	border: 1px solid var(--3d-border);
	border-radius: 0.2em;
	background-color: var(--article);
	box-shadow: var(--shadow);
	transition: ease 0.2s;
}

section {
	border: 1px solid var(--darkshadow);
	border-radius: 0.1em;
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overflow: scroll;
	margin: -0.5em;
}

article[data-type],
[data-type="addButton"] {
	padding: 1em 2em 1em 3.5em;
}

[data-type="links"] {
	max-height: 15em;
	overflow: auto;
}

[data-type="composer-form"] > [data-type="links"] {
	/* otherwise composer displays faulty */
	max-height: none;
	overflow: auto;
}

section > form,
section > article,
section > div[draggable] {
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 1em;
	scroll-snap-align: center;
	flex: none;
	overflow: auto;
	box-shadow: none;
	border: none;
	background: none;
}

form > article,
section > div > article {
	box-shadow: none;
	border: none;
	background: none;
}

.sectionindicator {
	text-align: center;
	width: 100%;
	margin-top: 1em;

	svg {
		vertical-align: middle;
	}
}

.imagecanvas,
.photoupload {
	display: block;
	margin-bottom: 0;
	float: right;
	height: 4em;
	width: 4em;
	object-fit: contain;
}

/*************************** general elements ******************************/

h1 {
	color: var(--foreground);
}

br {
	clear: both;
}

/*************************** decorators ******************************/

hr {
	margin: 1em auto;
	height: 1px;
	width: 100%;
	border-color: var(--darkshadow);
}

hr.insertionArea {
	margin: 1em auto;
	height: 1em;
	width: 100%;
	border-color: var(--foreground);
	border-radius: 0.5em;
}

.insertionAreaHover {
	background-color: var(--green);
}

section > div > hr {
	width: 95% !important;
}

.articleindicator {
	stroke: var(--foreground);
	stroke-width: 1px;
	fill: none;
	width: 10px;
	height: 10px;
}

.articleactive {
	fill: var(--foreground);
}

/*************************** icons and cursors ******************************/

div.nocontent {
	width: 12em;
	height: 10em;
	display: block;
	margin: 1em auto;
	mask-size: cover;
	background-color: var(--cta);
	-webkit-mask-image: url("./media/box-open.svg");
	mask-image: url("./media/box-open.svg");
}

span.nocontent {
	display: block;
	width: fit-content;
	margin: 1em auto;
}

[draggable="true"] {
	cursor: grab;
}

[draggable="true"]:active {
	cursor: grabbing;
}

.draggableFormElement {
	border: 1px solid var(--cta);
	border-radius: 0.5em;
}

.draggableFormElementHover {
	border-color: var(--green);
}

[data-type]::before,
[data-menu] ~ label::before,
main a:not([data-type])::before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: middle;
	background-size: cover;
	margin: 0 0.75em 0 0;
}

main a:not([data-type])::before {
	background-color: var(--cta_darker);
	-webkit-mask-image: url("./media/external-link-alt.svg");
	mask-image: url("./media/external-link-alt.svg");
}

[data-type="toleft"]::before {
	background-color: var(--article);
	-webkit-mask-image: url("./media/arrow-left.svg");
	mask-image: url("./media/arrow-left.svg");
}

[data-type="toright"]::before {
	background-color: var(--article);
	-webkit-mask-image: url("./media/arrow-right.svg");
	mask-image: url("./media/arrow-right.svg");
}

[data-type="text"]::before {
	background-image: url("./media/info-circle.svg");
}

[data-type="textinput"]::before {
	background-image: url("./media/pencil.svg");
}

[data-type="searchinput"]::before {
	background-image: url("./media/search.svg");
}

[data-type="numberinput"]::before {
	background-image: url("./media/hashtag.svg");
}

[data-type="dateinput"]::before {
	background-image: url("./media/calendar-alt.svg");
}

[data-type="timeinput"]::before {
	background-image: url("./media/clock.svg");
}

[data-type="file"]::before {
	background-image: url("./media/upload.svg");
}

button[data-type="file"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/upload.svg");
	mask-image: url("./media/upload.svg");
}

[data-type="photo"]::before {
	background-image: url("./media/camera.svg");
}

button[data-type="photo"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/camera.svg");
	mask-image: url("./media/camera.svg");
}

[data-type="select"]::before {
	background-image: url("./media/list.svg");
}

[data-type="textarea"]::before {
	background-image: url("./media/pencil.svg");
}

[data-type="checkbox"]::before {
	background-image: url("./media/check-double.svg");
}

[data-type="radio"]::before {
	background-image: url("./media/check.svg");
}

[data-type="links"]::before {
	background-image: url("./media/link.svg");
}

[data-type="signature"]::before {
	background-image: url("./media/signature.svg");
}

[data-type="scanner"]::before {
	background-image: url("./media/qrcode.svg");
}

button[data-type="scanner"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/qrcode.svg");
	mask-image: url("./media/qrcode.svg");
}

[data-type="identify"]::before {
	background-image: url("./media/database.svg");
}

button[data-type="merge"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/code-merge.svg");
	mask-image: url("./media/code-merge.svg");
}

[data-type="deletebutton"]::before,
[data-type="trash"]::before {
	background-image: url("./media/trash-alt.svg");
}

button[data-type="deletebutton"]::before,
button[data-type="trash"]::before {
	background-image: none;
	background-color: var(--red);
	-webkit-mask-image: url("./media/trash-alt.svg");
	mask-image: url("./media/trash-alt.svg");
}

[data-type="password"]::before {
	background-image: url("./media/user-secret.svg");
}

[data-type="additem"]::before {
	background-image: url("./media/plus.svg");
}

button[data-type="additem"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/plus.svg");
	mask-image: url("./media/plus.svg");
}

[data-type="addblock"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/arrow-alt-from-top.svg");
	mask-image: url("./media/arrow-alt-from-top.svg");
}

[data-type="reset"]::before,
[data-type="generateupdate"]::before {
	background-image: url("./media/repeat-alt.svg");
}

button[data-type="reset"]::before,
button[data-type="generateupdate"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/repeat-alt.svg");
	mask-image: url("./media/repeat-alt.svg");
}

[data-type="image"]::before {
	background-image: url("./media/image.svg");
}

button[data-type="image"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/image.svg");
	mask-image: url("./media/image.svg");
}

[data-type="submitbutton"]::before {
	background-image: url("./media/paper-plane.svg");
}

button[data-type="submitbutton"]::before {
	background-image: none;
	background-color: var(--article);
	-webkit-mask-image: url("./media/paper-plane.svg");
	mask-image: url("./media/paper-plane.svg");
}

[data-type="cart"]::before {
	background-image: url("./media/shopping-cart.svg");
}

[data-type="message"]::before {
	background-image: url("./media/comment.svg");
}

[data-type="filterinput"]::before {
	background-image: url("./media/filter.svg");
}
